name: Deploy project

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Yarn and dependencies
      run: |
        corepack enable
        yarn config set -H enableImmutableInstalls false
        yarn install
      shell: bash

    - name: Deploy App
      run: yarn deploy
      env:
        CURRENT_STRATEGY: ${{ vars.CURRENT_STRATEGY }}
        MISTRAL_API_KEY: ${{ secrets.MISTRAL_API_KEY }}
